<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>GrapRedpacket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>JyServletInOut</servlet-name>
    <servlet-class>com.hz.jy1.mA.JyServletInOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JyServletInOut</servlet-name>
    <url-pattern>/uiface1/lottery</url-pattern>
  </servlet-mapping>
  
 
  
  <servlet>
    <servlet-name>JyFileUpload</servlet-name>
    <servlet-class>com.ssctrl.interface4.JyFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JyFileUpload</servlet-name>
    <url-pattern>/uiface1/FileUpload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadFtp</servlet-name>
    <servlet-class>com.ssctrl.interface4.UploadFtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFtp</servlet-name>
    <url-pattern>/uiface1/UploadFtp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.ssctrl.interface4.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>ac
    <servlet-name>Image</servlet-name>
    <url-pattern>/uiface1/image.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
	<session-timeout>180</session-timeout>
  </session-config>
</web-app>